name: Deploy to Cloudflare

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2

      - name: Deploy
        uses: cloudflare/wrangler-action@v3.7
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
